<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">

    <system>
        <section id="quickaddtocart" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Quick Add To Cart</label>
            <tab>devscripts</tab>
            <resource>DevScripts_QuickAddToCart::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <comment><![CDATA[ Enable or disable the Quick Add To Cart functionality site-wide.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="open_minicart" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Open Mini Cart After Add</label>
                    <comment><![CDATA[ Automatically open the mini cart popup after a product is added.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="redirect_cart" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect To Cart Page</label>
                    <comment><![CDATA[ Redirect customers to the cart page immediately after adding a product.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>